<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">AppSymfony</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#"> <i class="fa fa-home"></i> Acceuil<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="fa fa-cog"></i> Connecté tant que : {{ app.user.username }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path("fos_user_security_logout") }}"> <i class="fa fa-sign-out"></i> {{ 'layout.logout' | trans({},'FOSUserBundle') }}</a>
                  </li>
                      {% else %}
                    <li class="nav-item">
                    <a class="nav-link" href="{{ path("fos_user_security_login") }}"> <i class="fa fa-sign-in"></i> {{ 'layout.login' | trans({},'FOSUserBundle') }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path("fos_user_registration_register") }}">  <i class="fa fa-user"></i> {{ "layout.register" | trans({},'FOSUserBundle') }}</a>
                  </li>
                  {% endif %}
                </ul>
              </div>
  </div>
</nav>
<div class="container-fluid mt-5">
  <div class="row">
 
  </div>
  <div class="row">
    <div class="col-md-4">
      {% block breadcrumb %}{% endblock %}
    </div>
        <div  class="col-md-8" align="right" id="app">
          {% verbatim %}
          <select v-on:change='getAccesRapide()' name="accesRapide" class="btn btn-primary" v-model="accesRapide">
            <option :value="acces.lien" v-for="acces in listAccesRapide">{{ acces.libelle }}</option>
          {% endverbatim %}
*          </select>
        </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="">Tableau de bord</a>
        </li>
        <li class="list-group-item">Categorie</li>
        <li class="list-group-item">
          <a href="{{ path('category_index') }}">List des catégories</a>
        </li>
        <li class="list-group-item">
            <a href="{{ path('category_new') }}">Nouvelle categorie</a>
        </li>
        <li class="list-group-item">Article</li>
        <li class="list-group-item">
          <a href="{{ path('admin_post_index') }}">List des articles</a>
        </li>
        <li class="list-group-item">
          <a href="{{ path('admin_post_new') }}">Nouveau article</a>
        </li>
        <li class="list-group-item">Administration</li>
        <li class="list-group-item">
          <a href="">Statistique</a>
        </li>
        <li class="list-group-item">
          <a href="">Paramétrage</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 bg-light">
         <div class="col-md-6 m-auto text-center">
            {{ include('default/alert.html.twig') }}
        </div>
        {% block body %}{% endblock %}
    </div>
  </div>
</div>
    <script type="text/javascript" src="{{ asset('js/vue.js') }}"></script>
    <script type="text/javascript">
        var vue = new Vue({
          el:'#app',
          data:{
            accesRapide : '',
            listAccesRapide:[
                          { libelle:'Accés Rapide',lien:"" },
                          { libelle:'Nouveau Article', lien:"/admin/post/new" },
                          { libelle:'Nouvelle Catégorie', lien:"/admin/category/new" }
            ]
          },
          methods:{
            getAccesRapide()
            {
              window.location = this.accesRapide;
            }
          }
        })
    </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>

