{% extends 'base.html.twig' %}

{% block body %}

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Nos meilleurs Article
      </h1>
      <h2 class="subtitle">
        Lorem ipsum dolor sit amet
      </h2>
    </div>
  </div>
</section>
<br>
<div class="container">


	<div class="columns is-multiline">
		{% for index,post in posts %}
		 <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="{{ asset('uploads/posts/'~ post.image) }}" alt="{{ post.title }}">
              </figure>
            </div>
            <div class="card-content">
             <a href="{{ path('blog_show',{'id':post.id}) }}">
              <h5 class="title">{{ post.title }}</h5></a>
              <div class="content">
                categorie:
                {% for cat in post.categories %}
                     {{ cat.libelle }},
                {% endfor %}
                <br>
               <p>{{ post.description | slice(0,80)}}...</p>
                <br>
                <time>{{ post.datepublication |date('Y-m-d') }}</time>
              </div>
            </div>
          </div>
        </div>
        	{% endfor %}
	</div>

	
</div>
    
{% endblock %}